[submodule "hub_themes"]
	path = e2edocs/hub/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "conceptual_themes"]
	path = e2edocs/conceptual/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "reference_themes"]
	path = e2edocs/reference/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
